<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Monthly Payment Calculator</title>
</h:head>
<h:body>
    <h2>RESTful Monthly Payment Calculator</h2>
	<h:form>
		<table>
			<tr>
				<td>Principle:</td>
				<td><h:inputText id="principle"
						value="#{webServiceManagedBean.principle}">
						<f:convertNumber pattern="#0.##" />
					</h:inputText></td>
			</tr>
			<tr>
				<td>Interest Rate:</td>
				<td><h:inputText id="interestRate"
						value="#{webServiceManagedBean.interestRate}">
						<f:convertNumber pattern="#0.#######" />
					</h:inputText></td>
			</tr>
			<tr>
				<td>Number of Years:</td>
				<td><h:inputText id="numberOfYears"
						value="#{webServiceManagedBean.year}" /></td>
			</tr>
		</table>
		<h:commandButton type="submit" id="calculate" value="Calculate"
			action="#{webServiceManagedBean.calculateMonthlyPayment()}" />
	</h:form>
	<p>
		Calculate Result:  <h:inputText id="result"
				value="#{webServiceManagedBean.monthlyPayment}" required="false"></h:inputText>
	</p>
</h:body>
</html>
